*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
body{
    margin: 30px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.page-body{
    display: flex;
    height: 100vh;
    gap: 15px;
}
.sidebar{
    width: 25rem;
    background-color: rgb(248, 248, 248);
    padding: 20px 30px;
    border-radius: 20px;
}
.main-page{
    flex: 1;
}
.logo-container{
    display: flex;
}
.logo-name{
    font-size: 25px;
}
.sidebar-lists{
    margin-top: 70px;
}
.sidebar-subtitle{
    margin-top: 25px;
    font-weight: bold;
}
.sidebar-sublists{
    margin-top: 20px;
    line-height: 2;
    list-style-type: none;
    font-size: 20px;
}
.mp-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248, 248, 248);
    padding: 20px 30px;
    border-radius: 20px;
}
.search-input{
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid gray;
    background-color: white;
    width: 20rem;
}
.mp-header-right{
    display: flex;
    gap: 10px;
    align-items: center;
}
.mp-icons{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding: 6px;
    border: none;
    background-color: white;
}
.mp-icons img{
    width: 100%;
}
.mp-user-info h3, .mp-user-info p{
    margin: 0;
    padding: 0;
}

/* DASHBOARD PAGE STYLING */
.dashboard-page{
    background-color: rgb(248, 248, 248);
    padding: 20px 30px;
    border-radius: 20px;
    margin-top: 20PX;
}
.db-plus-tsk{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.db-text h1{
    font-size: 40px;
    font-weight: 600;
}
.db-text p{
    font-size: 16px;
    margin-top: 7px;
}
.task-btn{
    width: 9rem;
    padding: 13px 17px;
    border-radius: 50px;
    font-size: 17px;
}
.add-task-btn{
    background: linear-gradient(170deg, rgb(0, 78, 0), rgb(0, 122, 0));
    color: white;
    border: none;
}
.import-task-btn{
    background-color: white;
    color: black;
    border: 2px solid rgb(0, 78, 0);
}
.projects-divs-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    gap: 20px;
}
.project-div{
    padding: 15px 12px;
    background-color: white;
    border-radius: 20px;
}
.project-div:first-of-type{
    background: linear-gradient(170deg, rgb(0, 78, 0), rgb(0, 122, 0));
    color: white;
}
.project-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-arrow{
    width: 35px;
    height: 35px;
    background-color: rgb(199, 199, 199);
    border-radius: 50px;
}
.project-type h3{
    font-size: 23px;
}
.project-number{
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.projectAnalytics{
    gap: 10px;
}

.meeting-remainder-container{    
    padding: 15px 12px;
    background-color: white;
    border-radius: 20px;
}
.analytics-container{
    width: 41.05rem;
    padding: 15px 12px;
    background-color: white;
    border-radius: 20px;
}
.analytics-container h3{
    font-size: 23px;
}
.am-container{
    display: flex;
    gap: 24px;
    margin-top: 15px;
}
.meeting-remainder-container{
    width: 19.5rem;
}
.mrc-title{
    font-size: 23px;
}
.mrc-text{
    margin-top: 20px;
    font-size: 28px;
    color: rgb(0, 78, 0);
    font-weight: 600;
    line-height: 1;
}
.mrc-time{
    font-size: 20px;
    margin-top: 5px;
}
.mrc-button{
    margin-top: 30px;
    width: 100%;
    padding: 15px 20px;
    font-size: 20px;
    background: linear-gradient(170deg, rgb(0, 78, 0), rgb(0, 122, 0));
    color: white;
    border-radius: 60px;
    border: none;
    font-size: 20px;
}


.team-collab-progress{
    margin-top: 15px;
    display: flex;
    gap: 20px;
}

.team-collab{
    width: 35rem;
    padding: 15px 12px;
    background-color: white;
    border-radius: 20px;
}
.team-profile{
    height: 182px;
    /* overflow: scroll; */
}
.tc-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tc-header h5{
    font-size: 23px;
}
.team-member-adder-btn{
    padding: 8px 20px;
    font-size: 17px;
    border-radius: 50px;
    font-weight: 600;
    border: 2px solid rgb(0, 78, 0);
    color: rgb(0, 78, 0);
    background-color: white;
    cursor: pointer;
}

.team-member-dp{
    width: 38px;
    height: 38px;
    border-radius: 50px;
    padding: 6px;
    border: none;
    background-color: white;
    border: 1px solid yellow;
}
.team-member-dp img{
    width: 100%;
}
.team-p-box{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
}
.team-member-info{
    width: 100%;
}
.team-member-info h5{
    font-size: 15px;
    font-weight: 300;
}
.team-member-info-role{
    margin-top: 3px;
    display: flex;
    align-items: center;
    width: 100%;
}
.team-member-role-progress{
    margin-left: auto;
    padding: 2px 7px;
    font-weight: 700;  
    font-size: 10px;
    border-radius: 5px;
}
.team-member-info-role p{
    font-size: 15px;
}
.team-member-adder-popUp{
    position: fixed;
    inset: 0;
    margin: auto;
    padding: 1.5rem;
    border-radius: 14px;
}
.team-member-adder-popUp::backdrop{
    background: rgba(0, 0, 0, 0.5);
}
.duo-form-for-flex{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 30px;
}
.team-adder-submit{
    margin-top: 20px;
    width: 100%;
}


.progress-checker-container{
    width: 26rem;
    padding: 15px 12px;
    background-color: white;
    border-radius: 20px;
}

.progress-checker-container h3{
    font-size: 23px;
}
.progress-svg-container{
    margin-top: 15px;
    justify-self: center;
}
.progress-percentage{
    position: absolute;
    left: 64.2%;
    top: 81%;
    /* transform: translate(-50%, -50%); */
    text-align: center;
}
.progress-percentage h5{
    font-size: 65px;
    font-weight: bold;
}
.progress-percentage p{
    font-size: 17px;
    margin: 0;
}
.progress-checker-texts{
    display: flex;
    align-items: center;
    margin-top: 45px;
    gap: 20px;
    justify-self: center;
}
.progress-checker-texts div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.checker-color-box{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: black;
}

.projects-flex-with-tracker{
    display: flex;
    gap: 20px;
    align-items: center;
}

.project-and-time-tracker{
    flex: 1;
}
.project-stack-tracker{
    padding: 15px 12px;
    background-color: white;
    border-radius: 20px;
}
.ptt-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.ptt-header h3{
    font-size: 23px;
}
.ptt-project-adder{
    padding: 2px 10px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 50px;
    border: 2px solid rgb(0, 122, 0);
    color: rgb(0, 122, 0);
    background-color: transparent;
}

.project-types-and-date{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
}
.project-type-name-date h4{
    font-size: 18px;
}
.project-type-name-date p{
    font-size: 15px;
    margin-top: 4px;
}
.project-type-icon{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: 1px solid black;
}
.project-type-icon img{
    width: 100%;
}

.list-of-project-works{
    margin-top: 20px;
}

.project-time-tracker{
    padding: 15px 12px;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
}
.tracker-timer-counting{
    font-size: 30px;
    justify-self: center;
    margin: 29px;
}